.JFXTextField{
	-fx-text-fill: white;
	-fx-font-family: "PoiretOne-Regular.ttf";
	-fx-font-size: 36px;
}
.JFXTextField2{
	-fx-text-fill: "#ff4081";
}
.JFXTextFieldpreguntas{
	-fx-highlight-text-fill:"#ff4081";
	-jfx-focus-color:"#757575";
	-fx-prompt-text-fill: "#757575";
}
.button{
	-fx-text-fill: "#795548";
	-fx-font-size: 12px;
}
